extends layout

block content
  #banner
    .center
      h2 Life's too short to be bored.
      h2 享受精选美食
      img(src='img/qr_100.png')
      #banner-button-wrap
        a(href='https://itunes.apple.com/us/app/enjoy/id943837902?ls=1&mt=8') iOS 版
        a(href='http://install.ricebook.com/download/enjoy.apk') Android 版
